<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>

        <!-- Loggly HTTP Appender -->
        <Socket name="Loggly" protocol="https" host="logs-01.loggly.com" port="443">
            <SerializedLayout />
            <Property name="Authorization">Bearer cc229dfc-801d-40fc-9a1e-cc0f6867a627</Property>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Socket>
    </Appenders>

    <Loggers>
        <Logger name="com.example" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="Loggly" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
